doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title unload
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="http://js.arcgis.com/3.9/js/esri/css/esri.css")
    link(rel='stylesheet', href='/style/type.css')
    link(rel='stylesheet', href='/style/grid.css')
    link(rel='stylesheet', href='/style/main.css')
    script(src="http://js.arcgis.com/3.9/")
    script(src='/js/jquery.min.js')
    script(src='/js/main.js')
  body
    header
        h1 unl&#x2672;ad
    block content
  footer
    p(class='copy') &copy; 2014
    p(class='built')
        small built at 
            a(href='#') rivcodes
